#search{
    width: 80%;
    height: 50px;
    border-radius: 20px;
    font-size: larger;
    padding-left: 40px;
    position: absolute;
    left: 150px; top: 150px;
}
#home{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

#middle{
    width: 70%;
    display: flex;
    gap: 50px;
    margin: auto;
    margin-top: 40px;
    padding: 70px;
    background-color: rgb(211, 207, 207);
    text-align: center;
}
